<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Youtube Player</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <p style="text-align: center;">Angular Youtube Player</p>
    <div style="width: 100%;text-align: center;">
      <youtube-player [videoId]="id" [height]="200" (ready)="savePlayer($event)" (change)="onStateChange($event)">
      </youtube-player>
    </div>

    <p style="text-align: center;">iFrame</p>
    <div style="width: 100%;text-align: center;">
      <iframe width="100%" height="200px" src="https://www.youtube.com/embed/FNqNO18JoLk" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </ion-grid>
</ion-content>