.yes {
    border: 1px solid white;
    text-align: center;
    width: 92%;
    height: 40px;
    border-radius: 12px;
    background: orange;
    color: white;
    font-weight: bold;
  }
  .close {
    border: 1px solid black;
    text-align: center;
    width: 92%;
    height: 40px;
    border-radius: 11px;
  }