<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="primary" >Cash Free Mobile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>


  <div id="grid">
    <ion-button class="payment-buttons" fill="solid" (click)="startPaymentWeb()">
      Start Payment WEB
    </ion-button>
    <ion-button class="payment-buttons" fill="solid" (click)="startPaymentUPI(null)">
      Start Payment UPI
    </ion-button>
    <div id="upi_icon_containers" style="width: 100px;height: 100px;display: flex;">
      <ion-spinner name="dots" id="spinner"></ion-spinner>
    </div>
    <ion-text id="response_text">
      Response will Show Here
    </ion-text>
  </div>

</ion-content>
