<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title style="text-align: center;" color="primary">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: whitesmoke;">

  <ion-grid>

    <ion-row class="ion-nowrap" style="overflow-x: scroll;margin-top: 2%;width: 100%;">
      <ion-col style="border-radius: 12px;margin-left: 2%;background: white;" size="7"
        *ngFor="let profile of profileList;let i = index">
        <div>
          <img style="width: 100%;height: 200px;border-radius: 12px 12px 1px 1px;object-fit: cover;"
            src="{{profile.images}}">
        </div>
        <h4>{{profile.name}}</h4>
        <p>{{profile.address}}</p>
        <ion-row>
          <ion-col size="4" (click)="gotocollection(i)">
            <div class="collectionyes" >
              <p style="margin: auto;margin-top: 10px;">Yes</p>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="collectionno">
              <p style="margin: auto; margin-top: 10px;">No</p>
            </div>
          </ion-col>
          <ion-col size="4">
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>


    <ion-card id="myElement" style="margin-top:5% ;" class="animate-zoom">
      <div>
        <img style="width: 100%;object-fit: cover;" src="{{selectedimages?.images}}">
      </div>
      <h4 style="margin-left: 2%;font-weight:bold;color: black;">{{selectedimages?.name}}</h4>
      <p style="margin-left: 2%;">{{selectedimages?.address}}</p>
      <ion-row>
        <ion-col size="4" (click)="change('short')">
          <p>
            <span>
              <ion-icon style="zoom: 1.2;" name="star-outline"></ion-icon>
            </span>
            <span>
              Shortlist
            </span>
          </p>
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col size="3">
          <p style="font-weight: bold;">Like her?</p>
        </ion-col>
        <ion-col size="2" (click)="change('yes')">
          <div class="yes">
            <ion-icon style="margin-top: 5px;zoom: 1.5;font-weight: bold;" name="checkmark-outline"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="2" (click)="change('close')">
          <div class="close">
            <ion-icon style="margin-top: 5px;
          zoom: 1.5;
          font-weight: bold;" name="close-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-card>

  </ion-grid>
</ion-content>